{% extends "layout.html" %} {% block title %} 1100words {% endblock %} {% block
main %}
<div class="sectn">
  <img src="static/1100words.jpeg" class="img-responsive border" />
  <h2></h2>
  <p class="mx-auto w-75">
    <strong>General description:</strong><br />
    Over the years, thousands of students preparing for the SAT and ACT have
    relied on 1100 Words You Need to Know as an ideal way to strengthen their
    word power. A Barron's best-seller for more than four decades, the sixth and
    seventh edition of 1100 Words You Need to Know has been expanded and updated
    with more <br />
    - Word lists and definitions, <br />
    - Analogy exercises, <br />
    - Words-in-context exercises.<br />
    <br />

    All new words for students to learn are placed in the context of sentences
    that have been selected from well-known novels, plays, poems, newspaper
    editorials, and TV broadcasts. For optimal ease and enjoyment in learning,
    the authors recommend 15-minute sessions with this book.

    <br />
    <br />

    <strong>Our experience:</strong><br />

    1100 Words You Need to Know is the gold standard for mastering SAT
    vocabulary. It is truly one of the most useful books we have encountered.
    This book teaches you the words that you will come across in every sentence
    of the SAT - it is the key to fully understanding every passage. Words here
    are so important that you may want to complete the book several times.
    Roughly said, it will take your English from level B2+ to solid C1.
    Concerning both English and math, we generally advise you first to improve
    your theoretical knowledge and then start working on the test exercises -
    your practice will yield much more effective results with a stronger
    foundation. Therefore, try to work on a vocabulary book at the beginning of
    the preparation process. 1100 Words You Need to Know represents the third
    book in our vocabulary series, however, you can start directly with it if
    your current English level is high enough. If you’re not sure, just look
    through the book first. If you see a few familiar words, begin your
    preparation with it. If all the words look very complicated, spend some time
    creating foundation with 400 Must-Have Words for TOEFL, 504 Absolutely
    Essential Words, or both.
  </p>
</div>
{% endblock %}
