{% extends "layout.html" %} {% block title %} 601words {% endblock %} {% block
main %}
<div class="sectn">
  <img src="static/601words.jpeg" class="img-responsive border" />
  <h2></h2>
  <p class="mx-auto w-75">
    <strong>General description:</strong><br />
    This book has long been a favorite among students and teachers because it
    adds a large element of fun to vocabulary-building exercises. It contains 40
    lessons with word lists, definitions, pronunciations, and fascinating
    information on word origins and changing usage. Eexcellent preparation for
    standardized verbal and language tests, including PSAT, SAT, and ACT.
    <br />
    <br />

    <strong>Our experience:</strong><br />

    601 Words You Need to Know to Pass Your Exam is the last book from our
    vocabulary series. We would recommend this book if you are aiming to score
    750+ on the English Section of the SAT. Roughly said, the vocabulary is
    selected from language level C1+ and focuses on complex words that are not
    very frequently used in a single exam. Therefore, if your target score is
    not 750+, this book may not be worth your time. But if you decide on it,
    take it after you complete all the lower-level options you have.
  </p>
</div>
{% endblock %}
