{% extends "layout.html" %} {% block title %} barronsR {% endblock %} {% block
main %}
<div class="sectn">
  <img src="static/barronsR.jpeg" class="img-responsive border" />
  <p class="mx-auto w-75">
    <strong>General description:</strong><br />
    This edition concentrates on the Reading Test with exercises reflecting all
    of the new SAT question types: reading comprehension; understanding words
    used in context; and graphical analysis. Exercises are divided according to
    three levels of increasing difficulty and labeled from A to C. The book
    features a helpful diagnostic test and 3 full-length Reading practice tests.
    All questions are answered and explained. Students who can answer all level
    C questions are ready to excel on the actual exam. The workbook also
    presents test-taking tips and vocabulary review.

    <br />
    <br />

    <strong>Our experience:</strong><br />

    Reading Workbook for the NEW SAT is a book from one of the most popular
    publishers - Barron’s - and is comparable to Reading and Writing Workout for
    the SAT from Princeton Review. The difference is that Barron’s materials are
    said to be a bit harder than those of Princeton Review, and Princeton
    Review’s book contains a writing section too. This book is a
    section-specific guide for reading. It includes both strategies and plenty
    of exercises to help you boost your score. If you are thinking of taking the
    Complete Guide to SAT Reading, we highly recommend that you practice the
    strategies you learned from it in this workbook. In this case, you will
    ignore all the techniques and other descriptions provided here. If you have
    very limited time, concentrate on Complete Guide to SAT Reading and don’t
    spend time on this book. However, be aware that using this workbook will
    immensely improve your results.
  </p>
</div>
{% endblock %}
