{% extends "layout.html" %} {% block title %} blue {% endblock %} {% block main
%}
<div class="sectn">
  <img src="static/blue.jpg" class="img-responsive border" />
  <h2></h2>
  <p class="mx-auto w-75">
    <strong>General description:</strong><br />
    The Blue Book of Grammar and Punctuation is a concise, entertaining workbook
    and guide to English grammar, punctuation, and usage. This user-friendly
    resource includes simple explanations of grammar, punctuation, and usage;
    scores of helpful examples; dozens of reproducible worksheets; and pre- and
    post-tests to help teach grammar to students of all ages. Appropriate for
    virtually any age range, this authoritative guide makes learning English
    grammar and usage simple and fun. For anyone who wants to understand the
    major rules and subtle guidelines of English grammar and usage, The Blue
    Book of Grammar and Punctuation offers comprehensive, straightforward
    instruction.

    <br />
    <br />

    <strong>Our experience:</strong><br />

    The Blue Book of Grammar and Punctuation is the go-to grammar book for SAT
    test-takers and not only. It provides extremely clear and structured
    instructions with plenty of exercises. We highly recommend completing this
    book regardless of your English level. Everyone can find something worth
    their time in it. The writing and Language Section on the SAT asks you to
    edit passages - correct the diction, punctuation, sentence structure, etc.
    As non-native speakers, we are rarely taught about details of English
    punctuation and style; therefore, this book is extremely beneficial for us.
    After completing the Blue Book, you will have a strong groundwork in English
    writing. Even though it is not created primarily for SAT, it will strengthen
    your theoretical knowledge and will help you yield much better results on
    SAT exercises. Therefore, we advise working on the Blue Book at the
    beginning of the preparation process. Since this book contains everything
    from elementary to advanced level, you will probably find some topics too
    easy and familiar. Feel free to skip those sections. Spend your time only on
    the parts that you think will improve your abilities. While preparing for
    SAT, the more you practice the better; therefore, never waste your time on
    the things that don’t help you improve.
  </p>
</div>
{% endblock %}
