{% extends "layout.html" %} {% block title %} dest {% endblock %} {% block main
%}
<div class="sectn">
  <img src="static/dest.jpg" class="img-responsive border" />
  <h2></h2>
  <p class="mx-auto w-75">
    <strong>General description:</strong><br />
    Destination C1 & C2 : Grammar and Vocabulary is the ideal grammar and
    vocabulary practice book for all advanced students preparing to take any C1
    & C2 level exam: e.g. Cambridge CAE and Cambridge CPE.
  </p>
</div>
{% endblock %}
