{% extends "layout.html" %} {% block title %} iesR {% endblock %} {% block main
%}
<div class="sectn">
  <img src="static/iesR.jpg" class="img-responsive border" />
  <h2></h2>
  <p class="mx-auto w-75">
    <strong>General description:</strong><br />
    Confront and conquer one of the most challenging SAT sections with this new,
    expert-designed workbook. Ten full New SAT Reading tests will give you the
    intensive practice that you need to enhance your reading comprehension and
    critical thinking skills. Be part of the IES record of excellence, and get
    ready to raise your SAT score!

    <br />
    <br />

    <strong>Our experience:</strong><br />

    IES New SAT Reading Practice Book provides 10 practice tests only for the
    reading section of the SAT. It is an amazing resource helping you to use
    your newly acquired skills and strategies in practice. The practice tests
    provided are very similar to the real structure and style of SAT; therefore,
    they can help you work on your pacing. SAT is one of the most ruthlessly
    timed exams, and developing pacing skills is crucial for success. We
    provided some full test options, and they will help your timing too, but we
    recommend that you complete these tests first. Even though they are
    structurally very similar to real SAT, they are a little bit easier.
    Therefore, if you start testing yourself with these and then get to the
    harder ones, your transition will be much more smooth and effective.
  </p>
</div>
{% endblock %}
