{% extends "layout.html" %} {% block title %} kaplan {% endblock %} {% block
main %}
<div class="sectn">
  <img src="static/kaplan.jpg" class="img-responsive border" />
  <h2></h2>
  <p class="mx-auto w-75">
    <strong>General description:</strong><br />
    Kaplan’s SAT Math Prep provides everything you need to master the
    challenging Math on the SAT! It reviews every concept from basic Algebra to
    Advanced Trig and will help you focus your studies on the most important
    math topics to increase your score! This focused guide includes in-depth
    coverage of every math concept tested on the SAT as well as effective
    score-raising methods and strategies for building speed and accuracy from
    Kaplan’s top math experts.<br />
    <br />
    Kaplan’s SAT Math Prep contains many essential and unique features to help
    improve test scores, including: <br />
    <br />
    - 16 comprehensive Math Practice Sets with detailed explanations<br />
    - More than 250 practice questions with expert explanations <br />
    - Methods and Strategies to improve your Math score <br />
    - Techniques for Multiple choice, Grid-In, and Extended Thinking questions
    <br />
    - Review of important Math Concepts <br />

    <br />
    <br />

    <strong>Our experience:</strong><br />

    Kaplan's SAT Math Prep is a foundational book for SAT Math section. It
    explores every mathematical topic the exam includes, teaches you the rules,
    and provides some exercises. We have to say though that this book provides
    only the groundwork for SAT math, it shouldn’t be the only one you take if
    you’re aiming for a very high score. If you’re not feeling confident in your
    math skills, we definitely recommend this book, it’ll help you a lot.
    However, if you looked through it and think it’s too easy, don’t waste your
    time - feel free to omit it.
  </p>
</div>
{% endblock %}
