{% extends "layout.html" %} {% block title %} meltzerR {% endblock %} {% block
main %}
<div class="sectn">
  <img src="static/meltzerR.jpg" class="img-responsive border" />
  <h2></h2>
  <p class="mx-auto w-75">
    <strong>General description:</strong><br />
    Intended to clearly and systematically demystify what is often considered
    the most challenging section of the SAT, The Critical Reader: The Complete
    Guide to SAT® Reading, 3rd Edition, provides a comprehensive review of the
    reading skills tested on the redesigned exam for students who are serious
    about raising their scores. Includes:<br />
    <br />
    - A chapter-by-chapter breakdown of question types, with in-depth
    explanations and numerous examples demonstrating how to work through each
    type.<br />
    - Techniques for comprehending complex passages and identifying key
    information quickly and efficiently.<br />
    - Extensive strategies for simplifying and answering paired supporting
    evidence questions as well as graph- and chart-based data analysis
    questions.<br />
    - A list of alternate definitions of common words, plus strategies for using
    context clues to decipher the meaning of unfamiliar vocabulary.<br />
    <br />
    To allow students to apply the strategies outlined in this book to College
    Board material while focusing on the specific areas in which they are
    seeking to improve, this book also includes a list of all the Reading
    questions from the Official College Board SAT Guide, 2018 Edition, arranged
    both by category and by test.

    <br />
    <br />

    <strong>Our experience:</strong><br />
    The Complete Guide to SAT Reading is a go-to tool for mastering skills for
    the reading section. This is a book by a remarkable author. Erica Meltzer is
    an experienced SAT tutor; all her books are very efficient. The Complete
    Guide to SAT Reading mainly focuses on offering useful strategies for the
    section. Generally, all prep books provide some kind of strategies, but in
    our experience, this one proved to be the best. Since reading is perceived
    as the hardest part of the exam, the book is definitely worth your time. It
    can boost your English section scores by up to 100(depending on when you
    take the book). In order to make the most of this guide, you may prefer to
    have some kind of understanding of the test structure beforehand. Therefore,
    we advise you to work on this book after finishing grammar and vocab books,
    as well as writing at least one full practice test. One more important note
    is that even though this guide includes exercises for the material it
    teaches you, we don’t think that’s enough. Make sure you write a lot of
    reading practice tests to properly use the strategies you learned -
    mastering only theoretical techniques without putting them into practice
    doesn’t do any good.
  </p>
</div>
{% endblock %}
