{% extends "layout.html" %} {% block title %} pandaM {% endblock %} {% block
main %}
<div class="sectn">
  <img src="static/pandaM.jpg" class="img-responsive border" />
  <h2></h2>
  <p class="mx-auto w-75">
    <strong>General description:</strong><br />
    This book brings together everything you need to know for the SAT math
    section. Unlike most other test prep books, this one is truly geared towards
    the student aiming for the perfect score. It leaves no stones unturned.
    Inside, You'll Find:<br />
    - Clear explanations of the tested math concepts, from the simplest to the
    most obscure<br />
    - Hundreds of examples to illustrate all the question types and the
    different ways they can show up<br />
    - Over 500 practice questions and explanations to help you master each
    topic<br />
    - The most common mistakes students make (so you don't)

    <br />
    <br />

    <strong>Our experience:</strong><br />
    The College Panda's SAT Math is one of our favorite prep books. The College
    Panda guides are generally some of the best currently - they are
    specifically created for test-takers who aim at the perfect score. The math
    guide is designed for the third and fourth sections of the exam, and it can
    enable you to write those parts without a mistake. The book is structured
    around specific questions of SAT math, especially the ones that are most
    frequently mistaken, and teaches you how to solve them quickly. Even if you
    are very good at math, take into consideration that SAT is very limited in
    time. You may know how to solve particular problems mathematically but you
    may still want to consult the book to learn some tricks that help you answer
    entangled SAT questions in a more time-efficient manner. Since this book is
    a bit more advanced than foundational and contains only harder topics, you
    may want to work on it after you finish Math Workout for the SAT or Barron's
    Math Workbook. If you don’t have that much time or if you think you don’t
    need the lower-difficulty books, make sure you take at least one full
    practice test beforehand. Understanding the test structure is essential to
    make the most of the very specific approach The College Panda's Math Guide
    has. <br /><br />Note: Consider complementing this book with The College
    Panda's 10 Practice Tests for the SAT Math (See description below).
  </p>
</div>
{% endblock %}
