{% extends "layout.html" %} {% block title %} pandaW {% endblock %} {% block
main %}
<div class="sectn">
  <img src="static/pandaW.jpg" class="img-responsive border" />
  <h2></h2>
  <p class="mx-auto w-75">
    <strong>General description:</strong><br />
    This book brings together everything you need to know for the SAT writing
    section, from the simplest to the most advanced grammar rule. Unlike most
    other test prep books, this one is truly geared towards the student aiming
    for the perfect score. It leaves no stones unturned.<br />
    Inside, You'll Find:<br />
    - Clear explanations of all the tested SAT grammar rules, from the simplest
    to the most obscure<br />
    - Tons of examples to illustrate each question type and the different ways
    it can show up<br />
    - Hundreds of drills and practice questions to help you master the
    concepts<br />
    - The most common mistakes students make (so you don't make them)<br />
    - Three practice tests<br />
    - Fun illustrations<br />

    <br />
    <br />

    <strong>Our experience:</strong><br />
    The College Panda’s SAT Writing is one of our favorite prep books. The
    College Panda guides are generally some of the best currently - they are
    specifically created for test-takers who aim at the perfect score. The
    writing guide is designed only for the second section of the exam, and it
    can enable you to write that part without a mistake. It includes grammatical
    rules and strategies specific to SAT and provides plenty of exercises as
    well as practice tests. In order to make the most of this guide, you may
    prefer to have some kind of understanding of the test structure beforehand.
    Since this book is a bit more advanced than foundational, work on it after
    you finish your pure grammar books like the Blue Book and complete at least
    one practice test. Make sure you focus on putting your newly-acquired
    strategies and knowledge into practice through the tests so that you can
    determine what works best for you and what you will really use on the actual
    exam.
  </p>
</div>
{% endblock %}
