{% extends "layout.html" %} {% block title %} peng {% endblock %} {% block main
%}
<div class="sectn">
  <img src="static/peng.jpg" class="img-responsive border" />
  <h2></h2>
  <p class="mx-auto w-75">
    <strong>General description:</strong><br />
    The Penguin Guide to Punctuation is indispensable for anyone who needs to
    get to grips with using punctuation in their written work. Whether you are
    puzzled by colons and semicolons, unsure of where commas should go or
    baffled by apostrophes, this jargon-free, succinct guide is for you. <br />
    <br />
    Contains precise and up-to-date definitions of every type of punctuation
    mark and shows how each should be used <br />
    <br />

    Gives numerous examples of good and bad usage <br />
    <br />

    Explains the correct use of capital letters, contractions and abbreviations,
    italics, boldface and the special characters available on a word processor
    <br />
    <br />

    <strong>Our experience:</strong><br />

    The Penguin Guide to Punctuation is a valuable resource for improving your
    editing skills. The writing and Language Section of the SAT places an
    enormous emphasis on correct punctuation; therefore, spending time on this
    kind of books is a good investment. However, the Penguin Guide provides
    extremely detailed instructions about English grammar, and if you don’t aim
    to take 750+ on SAT English Section, you may want to reconsider spending
    time on this book. Before thinking about the Penguin Guide, you should
    definitely complete Blue Book and do a lot of Writing Section practice
    tests. If you see that you still need to improve your punctuation, this book
    will help you a lot.
  </p>
</div>
{% endblock %}
