{% extends "layout.html" %} {% block title %} bought {% endblock %} {% block
main %}
<div class="sectn">
  <img src="static/powervocab.jpeg" class="img-responsive border" />
  <p class="mx-auto w-75">
    <strong>General description:</strong><br />
    The Princeton Review's SAT Power Vocab brings you useful definitions and
    study tips for more than 1,600 frequently-used SAT words. It also includes
    strategies for memorizing the words and answering questions on the test, as
    well as a Final Exam section that tests your ability to apply your
    vocabulary knowledge to SAT questions. <br />
    <br />
    Inside the Book: All the Practice & Strategies You Need <br />
    More then 1,600 frequently-appearing vocabulary words from the SAT <br />
    170 quizzes throughout the book to help you learn how to apply this
    knowledge <br />
    A Final Exam section with drills to test your grasp of vocabulary knowledge
    on practice SAT questions <br />
    An SAT "Hit Parade" of words most commonly tested on the actual exam <br />

    <br />
    <br />

    <strong>Our experience:</strong><br />
    SAT Power Vocab is a quick overview of the words frequently used in SAT. The
    book’s main advantage is its focus on word roots, prefixes and suffixes
    because it enables you to guess the meanings of the unfamiliar words you
    encounter on the real exam. This is an important skill to have for the
    multiple-choice test like SAT. Although the Power Vocab is an important
    resource, it won’t be very effective if you don’t complement it with other
    vocabulary books like 1100 Words You Need to Know. We highly recommend
    completing 1100 Words You Need to Know first and then working on Power Vocab
    to strengthen your knowledge and review some of the important words. Don’t
    worry about the workload - Power Vocab can be completed very quickly.
    Moreover, do only the sections you think will help you. This book is mainly
    concerned with offering as many study strategies as possible, but not each
    of them will work for everyone. Therefore, don’t waste your time on
    practicing strategies that you won’t use on the actual SAT.
  </p>
</div>
{% endblock %}
