{% extends "layout.html" %} {% block title %} RWW {% endblock %} {% block main
%}
<div class="sectn">
  <img src="static/RWW.jpg" class="img-responsive border" />
  <p class="mx-auto w-75">
    <strong>General description:</strong><br />
    Designed for students specifically looking for extra help on the SAT Reading
    and Writing sections, this 4th edition of The Princeton Review's Reading and
    Writing Workout for the SAT provides the review and practice needed for
    subject mastery. Techniques That Actually Work. <br />
    - Tried-and-true tactics to help you identify the important information in
    each passage <br />
    - Essential strategies to help you maximize your efficiency <br />
    - Tips for tackling tricky questions with elimination techniques Everything
    You Need to Know to Help Achieve a High Score. <br />
    - Expert review and drills for the grammar needed on the SAT Evidence-Based
    Reading and Writing tests <br />
    - Comprehensive coverage of the various reading subjects and how to best
    tackle them, including dual passages and literature, history/social studies,
    and science topics <br />
    - Up-to-date information on the SAT Practice Your Way to Excellence. <br />
    - 240+ total practice questions with complete answer explanations <br />
    - Quick quizzes throughout each chapter to help assess understanding <br />
    - Step-by-step walk-throughs that demonstrate tips for each type of
    question, from Main Ideas to Arguments <br />
    - Detailed answer explanations that showcase each skill and strategy

    <br />
    <br />

    <strong>Our experience:</strong><br />
    Reading and Writing Workout for the SAT is a book from a very popular
    publisher - The Princeton Review - and is comparable to Reading Workbook for
    the NEW SAT from Barron’s. The difference is that Barron’s materials are
    said to be a bit harder than those of Princeton Review, and this book, as
    opposed to the one from Barron’s, contains a writing section too. This is a
    section-specific guide for reading and writing. It includes both strategies
    and plenty of exercises to help you boost your score. If you are thinking of
    taking the Complete Guide to SAT Reading and College Panda’s SAT Writing, we
    highly recommend that you practice the strategies you learned from them in
    this workbook. In this case, you will ignore all the techniques and other
    descriptions provided here. If you have very limited time, concentrate on
    Complete Guide to SAT Reading and College Panda’s SAT Writing; don’t spend
    time on this book. However, be aware that using this workbook will immensely
    improve your results.
  </p>
</div>
{% endblock %}
